.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 135px;
    background-color: #fff;
}

.header img{
    width: 180px;
}